#area-controle-de-estoque {
  padding: 40px 25px 40px 25px;
}

.container-controle-de-estoque {
  display: flex;
  justify-content: center;
}
.form-controle-de-estoque {
  width: 500px;
}
.form-controle-de-estoque fieldset {
  border: 2px solid #ff6cba;
  display: flex;
  flex-direction: column;
}
.form-controle-de-estoque fieldset legend {
  padding: 0px 10px;
  margin: 0px 10px;
  text-transform: uppercase;
  color: #ff6cba;
  position: relative;
}

.form-controle-de-estoque fieldset legend::before {
  content: "";
  box-sizing: border-box;
  width: 0%;
  height: 2px;
  background-color: #ff6cba;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: 400ms;
}

.form-controle-de-estoque fieldset legend:hover::before {
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 2px;
  background-color: #ff6cba;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: 400ms;
}
.div-controle-de-estoque {
  margin: 10px 20px;
  border-bottom: 2px solid #ff6cba;
}
.divs-label-controle {
  margin-bottom: 10px;
}
.area-button-controle {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.area-button-controle button {
  padding: 5px 15px;
  background: none;
  border: 1px solid #ff6cba;
  background: none;
  cursor: pointer;
  position: relative;
  color: black;
}

.area-button-controle button::before {
  content: "";
  position: absolute;
  background: #ff6cba;
  width: 100%;
  height: 0%;
  top: 0px;
  left: 0px;
  z-index: -1;
  transition: 400ms;
}

.area-button-controle button:hover::before {
  content: "";
  position: absolute;
  background: #ff6cba;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  transition: 400ms;
}
